---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    pageTitle="About"
    pageDescription="About me"
    pageImage="/letter-e.png"
>
    <main>
        <h2>About Me</h2>
        <p>
            Hello, I'm Eduard. This is my little space on the internet where I write and share stuff.
        </p>
        
        <h3>Things connected to me:</h3>
        <ul>
            <li><a href="https://linktr.ee/sigmoid?utm_source=linktree_profile_share&ltsid=fda68960-4b12-479f-8500-caf583aca982">Sigmoid</a></li>
            <li>Data Science</li>
            <li>Software Engineering</li>
            <li>AI</li>
            <li>Robotics</li>
            <li>Math</li>
        </ul>
    </main>
</BaseLayout>
