---
import BaseLayout from "../layouts/BaseLayout.astro";
import Dispatch from "../components/Dispatch.astro";
import { starredDispatches } from "../data/starred-dispatches";

const dispatches = Object.values(await import.meta.glob('./dispatches/*.md', { eager: true })).sort((a: any, b: any) => {
    const dateA = new Date(a.frontmatter.date).getTime();
    const dateB = new Date(b.frontmatter.date).getTime();
    
    if (dateB !== dateA) {
        return dateB - dateA;
    }
    
    // If dates are equal, check for time property
    if (a.frontmatter.time && b.frontmatter.time) {
        return b.frontmatter.time.localeCompare(a.frontmatter.time);
    }
    
    return 0; // If no time property or times are equal, maintain original order
});
---

<BaseLayout pageTitle="Home">
    <main>
        <table>
            <thead>
                <tr>
                    <th class="post-star"></th>
                    <th class="post-date">date</th>
                    <th class="post-title">title</th>
                </tr>
            </thead>
            <tbody>
                {dispatches
                    .map((dispatch: any) => (
                        <tr>
                            <Dispatch title={dispatch.frontmatter.title} date={dispatch.frontmatter.date} url={dispatch.url} starred={starredDispatches.includes(dispatch.frontmatter.title)} />
                        </tr>
                    ))}
            </tbody>
        </table>
    </main>
</BaseLayout>