---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Dispatch from "../components/Dispatch.astro";
import { starredDispatches } from "../data/starred-dispatches";

const dispatches = (await getCollection("dispatches")).sort((a, b) => {
  const dateDiff = b.data.date.getTime() - a.data.date.getTime();

  if (dateDiff !== 0) {
    return dateDiff;
  }

  if (a.data.time && b.data.time) {
    return b.data.time.localeCompare(a.data.time);
  }

  return 0;
});
---

<BaseLayout
    pageTitle="Home"
    pageDescription="Personal website featuring articles, thoughts, and dispatches on technology and programming."
    pageImage="/letter-e.png"
>
    <main>
        <table>
            <thead>
                <tr>
                    <th class="post-star"></th>
                    <th class="post-date">date</th>
                    <th class="post-title">title</th>
                </tr>
            </thead>
            <tbody>
                {dispatches
                    .map((dispatch) => (
                        <tr>
                            <Dispatch
                                id={dispatch.slug}
                                title={dispatch.data.title}
                                date={dispatch.data.date.toISOString().slice(0, 10)}
                                url={`/dispatches/${dispatch.slug}`}
                                starred={starredDispatches.includes(dispatch.slug)}
                            />
                        </tr>
                    ))}
            </tbody>
        </table>
    </main>
</BaseLayout>
