---
const { title, date, url, starred = false } = Astro.props;
---

<td class="post-star">{starred ? "â­" : ""}</td>
<td class="post-date">{date}</td>
<td class="post-title"><a href={url}>{title}</a></td>