---
const pageTitle = "Eduard Balamatiuc";

import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
    <nav>
        <h1><a href="/">{pageTitle}</a></h1>
        <div class="nav-links">
            <ThemeIcon />
            <a href="/about">About</a>
            <a href="https://github.com/eduard-balamatiuc">
                <span>Follow me</span>
            </a>
        </div>
    </nav>
</header>