---
import BaseLayout from "./BaseLayout.astro";
import Comments from "../components/Comments.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
    pageTitle={frontmatter.title}
    pageDescription={frontmatter.description}
    pageImage={frontmatter.image}
    >
    <main class="dispatch-content">
        <h1>{frontmatter.title}</h1>
        <slot />
    </main>
    <Comments />
    <script src="../scripts/sidenotes.js"></script>
</BaseLayout>
